
/* table design  */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}



/* .manage-price-menu design  */
.manage-price-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    position: relative;
}

.text-manage-price {
    margin: 1rem 0.5rem;
}

/* button manage-price design  */
.button-manage-price {
    margin: 0 2rem;
    width: 6rem;
    height: 2rem;
}

.button-manage-price a {
    background: rgb(84, 173, 242);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: .5rem .9rem;
}

.button-manage-price a i {
    font-size: 20px;
    color: #fff;
}

.button-manage-price a i span {
    font-size: 20px;
    color: #111;
}

/* tables design  */
table {
    margin: 1.5rem 1.3rem;
    width: 70%;
}

table tr td {
    /* width: 15rem; */
    height: 2rem;
}

table tr td .table-td-name-manage-price {
    width: 25rem;
}

/* icons design  */
#td-icon-manage-price-edit,
#td-icon-manage-price-delete {
    text-align: center;
    width: 5rem;
}

#td-icon-manage-price-edit a{
    padding: 0.5rem 2rem;
    border-radius: 40px;
}
#td-icon-manage-price-delete a {
    padding: 0.5rem 2rem;
    border-radius: 40px;
}

#td-icon-manage-price-edit a {
    background: rgb(252, 211, 64);
}

#td-icon-manage-price-delete a {
    background: rgb(249, 101, 101);
}

#td-icon-manage-price-edit a i {
    font-size: 20px;
    color: gray;
}
#td-icon-manage-price-delete a i{
    font-size: 20px;
    color: gray;
  }









/* Page manage-price add  */
.manage-price-menu h3{
    position: absolute;
    left: 4rem;
    top: 7rem;
    font-size: 25px;
}
.form-manage-price-add{
    position: absolute;
    left: 6rem;
    top: 10rem;
}
.form-manage-price-add input{
    margin: .5rem 0;
    font-size: 20px;
    background: rgb(213, 213, 213);
    border: none;
}
.form-manage-price-add label{
    margin: .5rem 0;
    font-size: 23px;   
}

.button-close_add-manage-price{
    display: flex;
    position: absolute;
    left: 11rem;
    top: 28rem;
}
.button-close_add-manage-price button{
    margin-left: 1.5rem;
    background: rgb(84, 173, 242);
    border: none;
    padding: .7rem 1rem;
    /* font-size: .7rem 1rem; */
    border-radius: 30px;
    cursor: pointer;
}
.button-close_add-manage-price a{
    text-decoration: none;
    background: rgb(213, 213, 213);
    border: none;
    padding: .7rem 1rem;
    border-radius: 30px;
    color: #111;
}





/* Page edit manage-price  */
.manage-price-menu h3{
    position: absolute;
    left: 4rem;
    top: 7rem;
    font-size: 25px;
}
.form-manage-price-add{
    position: absolute;
    left: 6rem;
    top: 10rem;
}
.form-manage-price-add input{
    margin: .5rem 0;
    font-size: 20px;
    background: rgb(213, 213, 213);
    border: none;
}
.form-manage-price-add label{
    margin: .5rem 0;
    font-size: 23px;   
}

 /* add  */
.button-close_add-manage-price{
    display: flex;
    position: absolute;
    left: 11rem;
    top: 28rem;
}
.button-close_add-manage-price button{
    margin-left: 1.5rem;
    background: rgb(84, 173, 242);
    border: none;
    padding: .7rem 1rem;
    /* font-size: .7rem 1rem; */
    border-radius: 30px;
    cursor: pointer;
}
.button-close_add-manage-price a{
    text-decoration: none;
    background: rgb(213, 213, 213);
    border: none;
    padding: .7rem 1rem;
    border-radius: 30px;
    color: #111;
}

 /* edit  */
 .button-close_edit-manage-price{
    display: flex;
    position: absolute;
    left: 11rem;
    top: 28rem;
}
.button-close_edit-manage-price button{
    margin-left: 1.5rem;
    background: rgb(252, 211, 64);
    border: none;
    padding: .7rem 1rem;
    /* font-size: .7rem 1rem; */
    border-radius: 30px;
    cursor: pointer;
}
.button-close_edit-manage-price a{
    text-decoration: none;
    background: rgb(213, 213, 213);
    border: none;
    padding: .7rem 1rem;
    border-radius: 30px;
    color: #111;
}